#A{
    border: black solid;
    background-color: red;
}
#B{
    border: black solid;
    background-color: grey;
}
#C{
    border: black solid;
    background-color: gold;
}
#D{
    border: black solid;
    background-color: rgb(46, 161, 35);  
}
#E{
    
    border: black solid;
    background-color: indigo;
}
#F{
    border: black solid;
    background-color: peru;
}

#G{
    border: black solid;
    background-color: plum;
}

#H{
    border: black solid;
    background-color: burlywood;

}
#I{
    border: black solid;
    background-color: mediumaquamarine;
}